#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.post-list {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.post-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

small {
  display: block;
  margin-top: 10px;
  color: #888;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.add-todo-container {
  
}
